<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="css/normalize.css?__inline" />
<link rel="stylesheet" type="text/css" href="css/common.css?__inline" />
<title></title>
</head>
<body>
<div class="G-loadingBox G-loadingBoxShow" data-tip="Loading..."><p></p></div>
<div id="toTop" class="G-toTop">
    <i></i>
</div>
<footer class="C-layoutFooter wtff" data-area="footer"></footer>
<script src="lib/main.js?__inline"></script>
</body>
</html>